main {
    margin-top:30vhmax;   
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main {
    width:80%;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.box1 {
    background-color: #e4b1ab;
    width:25%;
    height:40%;
    font-size: 225%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Rubik Mono One", monospace;
    position:absolute;
    z-index: 2;
    left: 20%;
    right:20%;
    margin-top: 15%;
}

.img1 {
    position:absolute;
    left: 15%;
    right: 15%;
    height: 100%;
    width: 100%;
    margin-top: 30vh;
}

.main1 {
    width:850px;
}

.box2 {
    background-color:#e39695;
    z-index: 2;
    font-size: 50px;
    font-family: "Rubik Mono One", monospace;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position:absolute;
    width:50%;
    height:50%;
    left: 40%;
    transform: translateX(-50%);
    margin-top: 61%;
}

.box3 {
    background-color:#da5552;
    z-index: 2;
    font-size: 50px;
    font-family: "Rubik Mono One", monospace;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position:absolute;
    width:30%;
    height:50%;
    left: 60%;
    transform: translateX(-50%);
    margin-top: 105%;
}

.divider1 {
    background-color: #cc444b;
    z-index: 1;
    font-size: 50px;
    font-family: "Rubik Mono One", monospace;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-row-gap: 0px;
    grid-column-gap: 5px;
    position:absolute;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    height:1000px;
    width:100%;
    margin-top: 170%;
    left: 10%;
    
}

.img {
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: 60% center; 
    border-style: solid;
    border-color: #e4b1ab;
    border-width: 10px;
}